

.about-item {
	width: 100%;
	overflow:hidden;
	.image-wrapper {
		width: 25%;
		float: left;
		margin: 0 20px 10px 0;
		@include breakpoint(small) {
			width: 50%;
		}
		img {
			width: 100%;
			min-height: none;
			border: 8px solid $hoki;
			border-radius: 4px;
		}
	}
}