$project-padding: 6px;

.page .project .image-wrapper {
	max-width:100%;
	max-height: 260px;
	overflow: hidden;
}

.featured-image img,
.portfolio-image img {
	max-width: 100%;
}
.project img {
	//max-width: 100%;
}

.projects .row {
	margin-bottom: 15px;
}
.project {
	position: relative;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;

	h3.project-title {
		position: absolute;
		top: -20px;
		left: 15px;
		max-width: 66%;
		background: $pickled-bluewood;
		padding: $project-padding;
		font-size: 24px;
		z-index: 999;

		a {
			color: white;
		}
	}
	&.hidden {
		height: 0;
		width: 0;
	}
}
.sizer {
	height: 0;
}
.image-wrapper {
	position: relative;
	a {
		display: block;
	}
}
.project-meta {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 50%;
	span.tool {
		display: inline-block;
		background:lighten($burnt-orange, 20%);
		color: white;
		text-align: right;
		clear: right;
		float: right;
		padding: $project-padding;
	}
	.project-category {
		clear: right;
		float: right;
		font-size: 18px;
		background: $burnt-orange;
		padding: $project-padding;
		text-align: right;
		max-width: 100%;
		a {
			color: white;
		}
		&.website {
			background: $jacksons-purple;
		}
		&.web-app {
			background: $tall-poppy;
		}
		&.email {
			background: $observatory;
		}
	}
}

.single-portfolio .row {
	margin-bottom: 50px;
	@include breakpoint(small) {
		margin-bottom: 10px;
	}
}
.single-portfolio .page-header {	
	@include breakpoint(small) {
		text-align: center;
	}
	.row {
		margin-bottom: 0px;
	}
}

.single-portfolio .jumbotron {
	overflow: hidden;
	background: darken($clouds, 10%);
	padding: 0;
	.image-wrapper {
		width: 100%;
		max-height: 360px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}
.prev-next {
	font-size: 24px;
	margin-top: 30px;
	text-align: right;
	@include breakpoint(small) {
		font-size: 2em;
		clear: both;
		width: 100%;
		text-align: center;	
	}
}

.gallery {
	display: none;
}
.custom-gallery a.thumbnail {
	display: block;
	width: 45%;
	margin: 2.5% 2.5% 2.5% 0;
	float: left;
	img {
		width: 100%;
	}
}
.single-portfolio .modal-header {
	border-bottom: none;
}
.single-portfolio .modal-body {
	text-align: center;
	img {
		margin: 0 auto;
		max-width: 100%;
	}
}


@media (min-width: 540px) {
	.project h3 {
		font-size: .85em;
	}
	.prev-next {
		margin-top: 15px;
		font-size: 18px;
	}
}